:root {
    --primary-color: #21233C;
    --secondary-color: #9191c8;
    --secondary-color-translucent: #9191c858;
    --secondary-color-dark: #5b5b93;
    --text-color: #151934;
    --reverse-text-color: #e2e5ff;
    --accent-color-1: #93b0ff;
    --accent-color-2: #9961a5;
    --background-color: #c9c9ff;
    --spacing: 0.5em;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Optima, 'Trebuchet MS', Arial, Helvetica, sans-serif;
    font-size: 1.5rem;
    background-color: var(--background-color);
    display: grid;
    grid-template-areas:
        "header"
        "nav"
        "main"
        "footer";
}

header {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    padding: var(--spacing);
}

nav {
    background-color: var(--primary-color);
    position: sticky;
    top: 0;
}

main {
    color: var(--text-color);
}

footer {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    padding: var(--spacing);
    margin-top: var(--spacing);
}

.destination-name {
    font-family: 'Lucida Calligraphy', Geneva, Verdana, sans-serif;
    text-align: center;
    margin: var(--spacing);
}

.destination-name-large {
    font-size: 2em;
}

nav a {
    color: var(--secondary-color);
    text-decoration: none;
}

.content-section {
    padding: 0 var(--spacing);
}

.section-title {
    text-align: center;
}

.destination-image {
    width: 100%;
    max-width: 3400px;
    height: auto;
    display: block;
    border-radius: 50%;
}

.packages-table {
    font-size: 0.6em;
    border: 3px solid var(--primary-color);
    border-collapse: collapse;
    text-align: center;
    width: 100%;
    max-width: 100%;
}

.table-title{
    font-weight: bold;
    font-size: 1.6em;
    margin: var(--spacing);
}

.packages-table th {
    border: 2px solid var(--primary-color);
    border-bottom: 3px solid var(--primary-color);
    padding: var(--spacing);
}

.packages-table td {
    border: 1px solid var(--primary-color);
    padding: 0.1em;    
}

.packages-table tr:nth-child(odd) {
    background-color: var(--secondary-color-translucent);
}

.column-header {
    background-color: var(--secondary-color);
}

.inquiry-form {
    display: flex;
    flex-direction: column;
}

.inquiry-form fieldset{
    border: 2px solid var(--secondary-color);
    margin: var(--spacing);
    font-size: 0.75em;
}

.inquiry-form legend {
    font-weight: bold;
}

.form-input-group {
    display: flex;
    padding: 0.1em;
;}

.label {
    padding: 0.2em;
}

.form-input {
    padding: 0.1em;
    margin: 0.2em;
    border: 2px solid var(--primary-color);
    background-color: var(--accent-color-1);
    color: var(--text-color);
    font-size: 0.8em;
    font-family: Optima, 'Trebuchet MS', Arial, Helvetica, sans-serif;
}

.form-input:focus {
    outline: 2px solid var(--secondary-color);
}

.form-option:disabled {
    color: var(--secondary-color-dark);
}

/* not supported by many browsers */
.form-option:hover {
    background-color: var(--secondary-color);
}

.comments-group {
    flex-direction: column;
}

.comments-input {
    height: 10em;
    font-size: 1em;
}

.btn {
    border: none;
    border-radius: 6%;
    background-color: var(--accent-color-2);
    color: var(--reverse-text-color);
    font-family: Optima, 'Trebuchet MS', Arial, Helvetica, sans-serif;
    font-size: 1.2em;
    padding: var(--spacing);
    margin: var(--spacing);
    align-self: center;
}

/* mobile portrait layout (479px or less) is default styles given above */

/* mobile landscape layout (480px to 767px) */
@media only screen and (min-width: 480px) {
    #toggle {
        display: none;
    }
}

/* tablet layout (768px to 1023px) */
@media only screen and (min-width: 768px) {
    nav li {
        /* display: inline; gets rid of bullets too */
    }
    #toggle {
        display: none;
    }
}

/* desktop layout (1024px or more) */
@media only screen and (min-width: 1024px) {
    #toggle {
        display: none;
    }
    
    .destination-image {
    width: 50%;
    float: right;
}
}